---
const {
    text="",
    link="",
    borderColor="red",
    backgroundColor="white",
    class: className,
    ...rest
} = Astro.props;
---

<a href={link} class={className} {...rest}>
    {text}
</a>

<style define:vars={{ borderColor, backgroundColor }}>

    a {
        font-size: 1.5rem;
        font-weight: 400;
        color: black;

        text-decoration: none;
        margin: 0 10px;
        padding: 5px 10px;

        position: relative;

        background-color: var( --backgroundColor );
        
        border: 2px solid var( --borderColor );
        border-radius: 5px;

        box-shadow: -0.2em -0.2em 0 0 var( --borderColor ),
                    inset 0 0 0 0 transparent;

        transition: all 0.5s;
    }

    a:hover, a:focus {

        box-shadow: 0 0 0 0 var( --borderColor ),
                    inset 6em 3.5em 0 0 var( --borderColor );
    }

</style>