---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

import Button4 from "@components/Buttons/Button-4.astro";
import Button5 from "@components/Buttons/Button-5.astro";
---

<BaseLayout>

	<Header />

	<main>

		<div class="snap-point snap-point-1">
			<img src="/images/eu.jpg" alt="eu">
			<div class="text">
				<h1> Descriere </h1>
				<table>
					<tbody>
						<tr>
							<td><strong> nume: </strong></td>
							<td> Petruț Raul-Sabin </td>
						</tr>
						<tr>
							<td><strong> vârstă: </strong></td>
							<td> 21 de anișori </td>
						</tr>
						<tr>
							<td><strong> înălțime: </strong></td>
							<td> 176cm </td>
						</tr>
						<tr>
							<td><strong> generație: </strong></td>
							<td> PMVW (primavara 2024) </td>
						</tr>
						<tr>
							<td><strong> facultate: </strong></td>
							<td> Automatică și Calculatoare </td>
						</tr>
						<tr>
							<td><strong> anul: </strong></td>
							<td> II (2) (doi) ✌️ </td>
						</tr>
						
					</tbody>
				</table>
				<Button5 class="down-button" href="#snap-point-2" />
			</div>
		</div>
		<div class="snap-point snap-point-2" id="snap-point-2">
			<Button4 />
		</div>

	</main>

</BaseLayout>

<style lang="scss">

	main {

		max-height: 100vh;
		overflow-y: scroll;
		scroll-snap-type: y mandatory;
	}

	.snap-point {

		min-height: 100vh;
		background-color: pink;
		border: 2px sotrd black;

		scroll-snap-align: start;
	}

	.snap-point-1 {
		
		display: grid;
		grid-template-columns: 2fr 3fr;
	}

	img {

		max-height: 100vh;
		max-width: 100%;

		align-self: center;
	}

	.text {
		padding: 20px 30px;

		position: relative;
	
		.down-button {

			position: absolute;
			bottom: 10px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.text table {
		margin: 20px 0;
	}
	.text td {
		
		padding: 5px 10px;
		font-size: clamp(2rem, 2vw, 10rem);
	}

	.snap-point-2 {

		display: flex;
		justify-content: center;
	}

</style>