---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";

import Button5 from "@components/Buttons/Button-5.astro";
---

<BaseLayout>
    <Header />

    <main>

        <div class="snap-point snap-point-1">
            <h1>
                De ce să mă alegeți pe mine?
            </h1>
            <Button5 class="down-button" href="#snap-point-2" />
        </div>
        <div class="snap-point snap-point-2" id="snap-point-2">
            <div class="grid-item">
                <img src="/images/icons/laptop.svg" alt="laptop icon">
                <h2> Experienta IT </h2>
                <ul>
                    <li> 2 CT-uri </li>
                    <li> Când mă plictisesc mă uit pe YT la programare </li>
                    <li> O să merg la beNerd 😼 </li>
                    <li> KT cu mai marii (Adelin, Recea, Ioan) </li>
                </ul>
            </div>
            <div class="grid-item">
                <img src="/images/icons/time.svg" alt="clock icon">
                <h2> Timp Liber </h2>
                <ul>
                    <li> Nu mă chinuie facultatea </li>
                </ul>
            </div>
            <div class="grid-item">
                <img src="/images/icons/manager.svg" alt="man icon">
                <h2> Experienta MO (ish) </h2>
                <ul>
                    <li> Am fost MO de aMW </li>
                </ul>
            </div>
            <div class="grid-item">
                <img src="/images/icons/heart.svg" alt="heart icon">
                <h2> Iubire </h2>
                <ul>
                    <li> Îmi place domeniul </li>
                    <li> Îmi plac oamenii pe care îi cunosc în BEST </li>
                    <li> Îmi place să învăț lumea chestii </li>
                </ul>
            </div>
            <Button5 class="down-button" href="/deCeEu/inovatie/" />
        </div>

    </main>

</BaseLayout>

<style lang="scss">

    main {

        max-height: 100vh;

        overflow-y: scroll;
        scroll-snap-type: y mandatory;
    }

    .snap-point {

        min-height: 100vh;
        min-width: 100%;

        scroll-snap-align: center;
        
        background-color: pink;

        position: relative;
        
    }

    .snap-point-1 {

        display: flex;
        align-items: center;
        justify-content: center;

        h1 {

            max-width: 80%;

            text-align: center;
            font-size: clamp(1rem, 10vw, 15rem);

            $color-1: #186cb8;
            $color-2: #2a9a9f;
            $color-3: #f1b211;
            $color-4: #e83611;
            $color-5: #f9002f;
 
            background: linear-gradient(219deg, 
                $color-1 19%, 
                $color-2 20%, $color-2 39%,
                $color-3 40%, $color-3 59% ,
                $color-4 60%, $color-4 79%,
                $color-5 80%
            );

            background-clip: text;
            color: transparent;
        }
    }

    .snap-point-2 {

        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        align-items: center;

        .grid-item {

            width: 70%;
            justify-self: center;

            display: grid;
            grid-template-areas:
                "img    header"
                "list   list"
            ;

            gap: 10px 8px;

            justify-content: left;

            grid-template-columns: auto 1fr;

            img {
                grid-area: img;
                
                aspect-ratio: 1 / 1;
                height: 100%;
                width: auto;
            }
            h2 {
                grid-area: header;
                font-size: clamp(2rem, 2vw, 20rem);
            }
            ul {
                grid-area: list;

                li {
                    font-size: clamp(1rem, 1vw, 15rem);
                }
            }
        }
    }

    .snap-point .down-button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

</style>
