---
import Button1 from "./Buttons/Button-1.astro";
import Button2 from "./Buttons/Button-2.astro";
import Button3 from "./Buttons/Button-3.astro";

const { backgroundColor="white" } = Astro.props;
---

<header>
    <nav>

        <img src="" alt="Logo Candidatura">

        <div id="links">
            <Button1 text="Despre Mine" link="/despreMine" />
            <Button2 text="De Ce IT?" />
            <Button3 text="De Ce Eu?" />
        </div>

    </nav>
</header>

<style define:vars={{ backgroundColor }}>

    header {

        background-color: var( --backgroundColor );
    }

    nav {
        border: 1px solid black;

        min-height: 100px;

        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
    }

    img {
        display: block;
        justify-self: center;
    }

    #links {

        justify-self: end;
        margin-right: clamp(10px, 1vw, 15px);
    }


</style>