---
import Button1 from "./Buttons/Button-1.astro";
import Button2 from "./Buttons/Button-2.astro";
import Button3 from "./Buttons/Button-3.astro";

const { backgroundColor="#93e1d8" } = Astro.props;
---

<header>
    <nav>

        <Button1 class="nav-item" text="Despre Mine" link="/despreMine/" />
        <Button1 class="nav-item" text="De Ce IT?"   link="/deCeIT/question/" />
        <Button1 class="nav-item" text="De Ce Eu?"   link="/deCeEu/" />

    </nav>
</header>

<style define:vars={{ backgroundColor }}>

    header {

        background-color: var( --backgroundColor );
        width: 100%;

        z-index: 100;

        transition: all 0.5s;
    }

    nav {
        border: 1px solid black;

        min-height: 100vh;

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: space-evenly;
    }

    .nav-item {
        transform: rotate(-90deg);

        width: max-content;
        
        text-decoration: none;
        color: black;
        
        font-size: 1.5rem;

        transition: transform 0.5s;
    }

    header:hover {

        width: 20em;
    }

    header:hover .nav-item {

        transform: rotate(0) translate(60px);
    }

</style>