@font-face {
    font-family: 'Roboto Mono';
    src: url('./../fonts/RobotoMono-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto Mono';
}

*::-webkit-scrollbar {

    display: none;
}

body { overflow-x: hidden; }

main { transition: transform 0.3s; }

header:hover + main { transform: translate(100px); }

.grid main { width: 90%; }
